html,
body {
    font-family: 'Lato', sans-serif !important;
}

.menu {
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: rgba(10, 10, 10, 0.493);
    z-index: 100;
    position: relative;
}

.lista-menu {
    list-style: none;
    padding: 0;
    float: right;
}

.lista-menu li {
    display: inline-block;
    margin-right: 20px;
    font-size: 22px;
}

.lista-menu li a:hover {
    color: orange;
    cursor: pointer;
}

.lista-menu li a {
    color: white;
}

.banner {
    background-image: url('../img/banner-web.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-top: -90px;
}

.banner h1 {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

input,
select {
    width: 100%;
    height: 50px;
    margin-top: 30px !important;
}

.formulario {
    padding: 50px;
}

.btn-enviar {
    width: 200px !important;
    background-color: green;
    color: white;
    margin: 0 auto;
    display: block;
}

form {
    width: 800px;
    margin: 0 auto;
}

.viajes {
    padding: 60px;
}

.cabecera-viaje img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.precio {
    position: absolute;
    top: 0;
    background-color: orange;
    color: #ffffff;
    padding: 5px;
}

.cuerpo-viaje {
    padding: 10px;
    border: 2px solid gray;
}

.boton-reserva {
    border-radius: 0 !important;
    width: 100%;
}

.cuerpo-viaje ul {
    list-style: none;
    padding: 0;
}

.cuerpo-viaje ul li img {
    width: 20px;
}

.imagen-banner {
    height: 500px;
    object-fit: cover;
}

.boton-flotante {
    position: fixed;
    right: 20px;
    top: 400px;
    z-index: 10;
}

.boton-flotante img {
    width: 50px;
}

.titulo {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.cabecera-planes {
    background-color: orange;
    padding: 15px;
}

.cabecera-planes p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cuerpo-planes ul {
    list-style: none;
    padding: 0;
}

.cuerpo-planes ul li img {
    width: 20px;
}

.cuerpo-planes {
    padding: 10px;
    border: 2px solid #cccbcb;
}

.cuerpo-planes ul li {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccbcb;
}

.reserva-planes button {
    border-radius: 0 !important;
    width: 100%;
}

footer {
    background-color: #00050e;
    padding: 40px;
}

.logo-footer {
    width: 200px;
}

footer h5 {
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    font-size: 12px;
    color: white;
}

footer ul li {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}

footer i {
    color: white;
    font-size: 12px;
}

footer p {
    color: white;
    text-align: center;
}

.planes {
    padding: 60px;
}

.formulario {
    padding: 60px;
}

.banner-interno {
    background-image: url('../img/banner-paris.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.banner-interno h2 {
    color: white;
    text-align: center;
    margin: 0 auto;
}

.contenido-viaje {
    padding: 60px;
}

iframe {
    width: 100%;
    margin-bottom: 30px;
}

.img-viaje {
    width: 100%;
    margin-bottom: 30px;
}

.formulario-reserva {
    width: 100% !important;
}

input {
    padding: 15px;
}

.logo-menu img {
    width: 200px;
}

.formulario-avanzado label {
    color: white;
}

.formulario-avanzado input {
    margin-top: 0 !important;
    margin-bottom: 20px;
}

.formulario-avanzado select {
    margin-top: 0 !important;
}

.btn-avanzado {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.activar-formulario {
    color: white;
    margin-top: 30px !important;
    display: block;
}

.activar-formulario:hover {
    color: orange;
}

.desarrollado {
    background-color: orange;
    color: white;
    padding: 10px;
}

.imagen-footer {
    background-image: url('../img/footer-img.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.tipo-viajes {
    background-color: #00050e;
    display: flex;
    align-content: center;
    align-items: center;
    height: 300px;
}

.tipo-viajes div {
    margin: 0 auto;
    display: block;
}

.tipo-viajes h4 {
    color: white;
}

.tipo-viajes p {
    color: white;
}

.tipo-viajes img {
    width: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tipo-viajes:hover {
    background-color: #13439c;
    cursor: pointer;
}

.card-testimonio {
    border: 2px dotted #cccbcb;
    padding: 20px;
}

.card-testimonio ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.card-testimonio ul li {
    display: inline-block;
}

.card-testimonio ul li img {
    width: 20px;
}

.carousel-control-prev-icon {
    background-color: #00050e !important;
}

.carousel-control-next-icon {
    background-color: #00050e !important;
}

.banner-empresa {
    background-image: url('../img/banner-empresa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: flex;
    align-items: center;
    align-content: center;
}

.banner-empresa h1 {
    color: white;
    margin: 0 auto;
}

.contenido-empresa {
    padding: 60px;
}

.item {
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-top: 20px;
}

.item i {
    font-size: 36px;
    color: orange;
}

.item p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.item:hover i {
    color: orchid;
}

.fondo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.imagen-uno {
    background-image: url('../img/imagen1.jpg');
}

.imagen-dos {
    background-image: url('../img/imagen2.jpg');
}

.texto-contenido {
    display: flex;
    align-content: center;
    align-items: center;
}

.texto-contenido p {
    width: 400px;
    margin: 0 auto;
    display: block;
}

.dropdown-menu a {
    color: black !important;
}

.banner-contacto {
    background-image: url('../img/contacto.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.mapa {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}


/*Codigo responsive*/

@media (min-width:320px) and (max-width:767px) {
    form {
        width: 100%;
    }
    .reserva-planes {
        margin-bottom: 30px;
    }
    .reserva-viaje {
        margin-bottom: 30px;
    }
    .formulario-banner input {
        width: 250px !important;
        margin: 0 auto;
        display: block;
    }
    .banner h1 {
        font-size: 22px;
    }
    .menu-responsive {
        display: block !important;
    }
    .menu-responsive img {
        width: 50px;
    }
    .menu-escritorio {
        display: none;
    }
    .lista-menu-responsive {
        list-style: none;
        padding: 0;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }
    .lista-menu-responsive li a {
        color: black !important;
        margin-bottom: 10px;
    }
}


/*Codigo para tablets*/

@media (min-width:768) and (max-width:900px) {}