<!--Pie de pagina-->
<div class="col-md-12 imagen-footer">

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="img/logo.png" class="logo-footer">
                <p>Somos una agencia de viajes especializada en viajes en grupo y familiares.</p>
            </div>

            <div class="col-md-4 text-center">
                <h5>Páginas</h5>
                <ul>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li><a href="viajes.php">Viajes</a></li>
                    <li><a href="contacto.php">Contacto</a></li>
                </ul>
            </div>

            <div class="col-md-4 text-center">
                <h5>Contacto</h5>
                <ul>
                    <li><i class="fas fa-phone"></i> 0982-111-222</li>
                    <li><i class="fab fa-facebook-f"></i> /travel</li>
                    <li><i class="fas fa-map-marker-alt"></i> Antequera 1052</li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<div class="col-md-12 desarrollado text-center">
    <p>Desarrollado por Harles Pereira</p>
</div>