<!--Menu de la web-->
<div class="menu">

    <div class="row">

        <div class="col-md-6 col-6">
            <div class="logo-menu">
                <img src="img/logo.png">
            </div>
        </div>

        <div class="col-md-6  menu-escritorio">
            <ul class="lista-menu">
                <li><a href="index.php">Inicio</a></li>

                <!--Item del submenu-->
                <li class="dropdown">
                    <a href="#" id="submenu" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa</a>
                    <div class="dropdown-menu" aria-labelledby="submenu">
                        <a class="dropdown-item" href="#">Nosotros</a>
                        <a class="dropdown-item" href="#">Equipo</a>
                        <a class="dropdown-item" href="#">Mision</a>
                    </div>
                </li>

                <li><a href="viajes.php">Viajes</a></li>
                <li><a href="contacto.php">Contacto</a></li>
            </ul>
        </div>

        <!--Menu responsive-->
        <div class="col-md-6 col-6 menu-responsive text-center">
            <a href="#" class="boton-menu">
                <img src="img/menu.png">
            </a>

            <ul class="lista-menu-responsive">
                <li><a href="index.php">Inicio</a></li>
                <li class="dropdown">
                    <a href="#" id="submenu" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa</a>
                    <div class="dropdown-menu" aria-labelledby="submenu">
                        <a class="dropdown-item" href="#">Nosotros</a>
                        <a class="dropdown-item" href="#">Equipo</a>
                        <a class="dropdown-item" href="#">Mision</a>
                    </div>
                </li>
                <li><a href="viajes.php">Viajes</a></li>
                <li><a href="contacto.php">Contacto</a></li>
            </ul>

        </div>

    </div>


</div>