.body-admin {
    background-image: url('../../img/banner-admin.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.contenido-admin {
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    height: auto;
    width: 300px !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    display: block;
}

.form-login input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.boton-registro {
    color: orangered;
}

.boton-registro:hover {
    color: orangered;
}

.menu-lateral {
    background-color: #332457;
    height: auto;
    /*position: fixed !important;*/
    display: flex;
    align-items: center;
    align-content: center;
}

.items-menu {
    padding: 0;
    list-style: none;
    color: white;
    text-align: center !important;
    margin: 0 auto;
}

.items-menu li {
    margin-bottom: 30px;
    font-weight: bold;
}

.contenido-dashboard {
    background-color: white;
    padding: 0;
}

.buscador input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid #ececec;
}

.buscador {
    padding: 20px;
}

.perfil ul {
    padding: 0;
    list-style: none;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100px;
}

.perfil {
    padding: 20px;
}

.panel-superior {
    border-bottom: 2px solid #ececec;
    padding: 0;
}

.info-contenido {
    background-color: #ececec;
    border-radius: 16px;
    height: 350px;
    margin-top: 40px !important;
    margin: 0 auto;
    display: block;
    padding: 15px;
}

.botones {
    margin-top: 30px;
}

.boton-margen {
    margin-right: 40px;
}

.form-carga input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.foto-usuario {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    object-fit: cover;
}

.vista-perfil {
    background-color: orange;
    height: 150px;
}

.datos {
    margin-top: 100px;
}

.form-datos-usuario {
    margin-top: 100px;
}

.form-datos-usuario form {
    width: 800px;
    margin: 0 auto;
}

.form-datos-usuario form input {
    width: 100%;
    height: 40px;
    padding: 15px;
    margin-bottom: 20px;
}

.botones-usuario {
    margin-bottom: 80px;
    margin-top: 20px;
}

.registro-viajes {
    background-color: skyblue;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.registros {
    padding: 40px;
}

.registro-hoteles {
    background-color: orange;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.registro-usuarios {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.menu-lateral a {
    color: white !important;
}

.menu-lateral a:hover {
    color: orange !important;
}